.footer-bg{
    background-color: var(--cor-12);
}
.footer{
    display: grid;
    grid-template-columns: 3fr 4fr 5fr;
    gap: 40px;
    padding: 60px 20px;
    

}
.footer-redes{
    display: flex;
    gap: 40px;
}

.footer h3, ul{
    margin-bottom: 32px;
}
.footer li{
    margin-bottom: 16px;
}
.footer a:hover{
color: var(--cor-0);
}
.footer-copy{
    grid-column: 1/-1;
    margin-top: 40px;
}
@media(width <= 800px){
    .footer > img{
        display: none;
    }
    .footer{
        grid-template-columns: 1fr 1fr;
    }
}
@media(width <= 600px){
    .footer{
        grid-template-columns: 1fr;
        gap: 60px;
    }
    .footer-copy{
        margin-top: 0px;
    }
}